.wrapperhome {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(100vw - 58vw);
    /* Set height to viewport height minus 60px */
}

.homebgLanding {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/bg-home2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.homebgtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    height: 45vw;
    /* Center horizontally */
}

.homebgtext h1 {
    text-transform: uppercase;
    font-size: 68px;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
}

.homebgtext p {
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-left: 25vw;
    padding-right: 25vw;
    text-shadow: 2px 2px 8px #000000;
}

.introductionbg {
    padding: 5vw;
    padding-top: 7vw;
    background-color: #F9F9F9;
    ;
}

.image-container {
    width: 95%;
    /* Desired square size */
    height: 370px;
    /* Desired square size */
    overflow: hidden;
    /* Ensures any part of the image outside the square is hidden */
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 370px;
    background: linear-gradient(to top,
            rgba(0, 150, 0, 0.7),
            rgba(0, 240, 0, 0));
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.introductionRight {
    text-align: right;
}

.buttons-container {
    display: flex;
    gap: 1vw;
    margin-top: 1vw;
}

.urdu-btn {
    background-color: #50b800 !important;
    color: white !important;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.urdu-btn:hover {
    background-color: #45a500;
    /* Slightly darker green on hover */
}

.introductionUrduRight {
    padding-top: 0vw;
}

.introductionUrduRight h5 {
    color: #418e05;
    font-size: 2vw;
    font-family: Poppins;
    font-weight: 600;
}

.introductionUrduRight h3 {
    color: #000000;
    font-size: 3vw;
    margin-top: 0vw;
    font-weight: 700;
    text-align: right;
}

.introductionUrduRight p {
    color: #000000;
    font-size: 1.2vw;
    font-weight: 400;
    padding-right: 1vw;
    text-align: right;
    margin-top: 2vw;
    font-family: Poppins;
}


@media (max-width: 600px) {
    .wrapperhome {
        position: relative;
        width: 100vw;
        /* Set width to viewport width */
        height: calc(100vw - 56vw);
        /* Set height to viewport height minus 60px */
    }

    .homebg {
        background-size: contain;
        /* Example adjustment */
        background-position: top;
        /* Example adjustment */
    }

    .homebgtext h1 {
        font-size: 6vw;
    }

    .homebgtext p {
        margin-top: 1vw;
        font-size: 3vw;
        font-weight: 400;
        line-height: 3.6vw;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        padding-left: 15vw;
        padding-right: 15vw;
        text-shadow: 2px 2px 8px #000000;
    }

    .introductionbg {
        padding: 6vw;
    }

    .introductionUrduLeft img {
        width: 90vw;
        object-fit: contain;
    }

    .introductionUrduRight {
        padding-top: 4vw;
    }

    .introductionUrduRight h5 {
        color: #418e05;
        font-size: 6vw;
        font-weight: 600;
    }

    .introductionUrduRight h3 {
        color: #000000;
        font-size: 6vw;
        font-weight: 600;
        margin-top: 4vw;
    }

    .introductionUrduRight p {
        color: #000000;
        font-size: 3.2vw;
        font-weight: 400;
        padding-right: 2vw;
        text-align: left;
        margin-top: 3vw;
    }

}