.wrappercasestudy {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(33vw - 0.8vw);
    /* Set height to viewport height minus 60px */
}

.casestudybg {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/casestudybgimage1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.casetextbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    height: 30vw;
    /* Center horizontally */
}

.casetextbg h1 {
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
}

.casetextbg p {
    margin-top: 1vw;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-left: 31vw;
    padding-right: 31vw;
    text-shadow: 2px 2px 8px #000000;
}

.growing {
    padding-right: 3vw;
}

.wrapperpicbg {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(33vw - -10.73vw);
    /* Set height to viewport height minus 60px */
}

.casepiclower {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/casehistory.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    .wrappercasestudy {
        position: relative;
        width: 100vw;
        height: calc(100vh - 85vh);
    }


    .misi img {
        margin-top: 6vw;
    }

    .casestudybg {
        background-size: contain;
        /* Example adjustment */
        background-position: top;
        /* Example adjustment */
    }

    .casetextbg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center vertically */
        align-items: center;
        height: 35vw;
        /* Center horizontally */
    }

    .casetextbg h1 {
        text-transform: uppercase;
        font-size: 6vw;
        font-weight: 700;
        line-height: 6vw;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px 8px #000000;
    }

    .casetextbg p {
        margin-top: 1vw;
        font-size: 2.2vw;
        font-weight: 400;
        line-height: 2.5vw;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        padding-left: 15vw;
        padding-right: 15vw;
        text-shadow: 2px 2px 8px #000000;
    }
}