.wrapperabout {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(33vw - 0.8vw);
    /* Set height to viewport height minus 60px */
}

.aboutbg {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/aboutbgimage.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    .wrapperabout {
        position: relative;
        width: 100vw;
        /* Set width to viewport width */
        height: calc(100vw - 66vw);
        /* Set height to viewport height minus 60px */
    }

    .aboutbg {
        background-size: contain;
        /* Example adjustment */
        background-position: top;
        /* Example adjustment */
    }
}