.uplaodedContentbg {
    padding: 4vw;
}

.uplaodedContentbg h5 {
    font-size: 2vw;
    color: #418E05;
    text-align: center;
    font-family: Poppins;



}

.uplaodedContentbg h3 {
    font-size: 2.8vw;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-family: Poppins;
}

.farmerspic {
    margin-top: 3vw;
}

.farmerspics img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.farmerspics img:hover {
    transform: scale(1.05);
}

.farmerspics {
    margin-bottom: 2vw;
}

.socialcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
}

.socialMedia1 {
    gap: 0.8vw;
}

.socialMedia1 i {
    color: #ffffff;
    padding: 0.4vw;
    background-color: #6ea941;
    border-radius: 0.4vw;
    transition: all 0.3s ease-in-out;
    font-size: 1.4vw;
}

.socialMedia1 i:hover {
    background-color: #204107;
}

@media (max-width: 600px) {
    .uplaodedContentbg {
        padding: 6vw;
        padding-top: 14vw;
    }

    .uplaodedContentbg h5 {
        font-size: 6vw;
        font-weight: 500;
        color: #418E05;
        text-align: left;
    }

    .uplaodedContentbg h3 {
        font-size: 6vw;
        font-weight: 600;
        color: #000000;
        text-align: left;
    }

    .farmerspic {
        margin-top: 5vw;
    }

    .farmerspics {
        margin-bottom: 5vw;
    }

    .farmerspics img {
        width: 85vw;
        padding-left: 2vw;
    }

    .socialMedia1 i {
        color: #ffffff;
        padding: 1vw;
        background-color: #6ea941;
        border-radius: 1vw;
        transition: all 0.3s ease-in-out;
        font-size: 4vw;
    }

    .socialMedia1 {
        gap: 4vw;
    }
}