.wrapperhome {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(100vw - 58vw);
    /* Set height to viewport height minus 60px */
}

.homebg {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/homebgimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.homebgtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    height: 45vw;
    /* Center horizontally */
}

.homebgtext h1 {
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 700;
    line-height: 6vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
}

.homebgtext p {
    margin-top: 1vw;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-left: 25vw;
    padding-right: 25vw;
    text-shadow: 2px 2px 8px #000000;
}

.introductionbg {
    padding: 5vw;
    padding-top: 7vw;
}

.introductionLeft img {
    width: 40vw;
    object-fit: contain;
}

.introductionRight {
    padding-top: 6vw;
}

.introductionRight h5 {
    color: #418E05;
    font-size: 2vw;
    font-family: Poppins;
    font-weight: 600;
    text-align: left;


}

.introductionRight h3 {
    color: #000000;
    font-size: 3vw;
    margin-top: 2vw;
    font-weight: 700;
    text-align: left;

}

.introductionRight p {
    color: #000000;
    font-size: 1.2vw;
    font-weight: 400;
    padding-right: 1vw;
    text-align: left;
    margin-top: 2vw;
    font-family: Poppins;
    text-align: left;

}


.featurebg {
    padding-top: 1vw;
}

.feature {
    text-align: center;
}

.feature h5 {
    color: #418E05;
    font-size: 2vw;
    font-weight: 600;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;


}

.feature h3 {
    color: #000000;
    font-size: 2.5vw;
    font-weight: 600;
    margin-top: 2vw;
    padding-left: 25vw;
    padding-right: 25vw;
    letter-spacing: 0.2vw;
    font-weight: 700;
    text-align: center;

}

.featurelistmain {
    padding-left: 2vw;
    padding-top: 2vw;
}

.greenDot {
    padding: 0.01vw 0.6vw;
    background-color: #3AC218;
    border-radius: 50%;
    margin-right: 0.4vw;
}

.featurelist {
    color: #000000;
    font-size: 1.1vw;
    font-weight: 400;
    text-align: left;
    margin-top: 2vw;
    font-family: Poppins;
    margin-bottom: 1vw;

}

.featurecontainer {
    padding: 5vw;
}

.featurewidth {
    padding-left: 2.7vw !important;
    padding-right: 2.7vw !important;
}

.featurecards {
    border-radius: 1vw !important;
    background: linear-gradient(to bottom, #418E05, #FFFFFF, #418E05);
    height: 42vw !important;
    overflow: hidden !important;
    /* Hides overflow */
    position: relative;
    /* Add relative positioning */
}

.featurebody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featurebody img {
    padding-top: 1vw;
    height: 38vw;
}

.featuretitle {
    position: absolute;
    bottom: -10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.7vw;
    left: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, #418E05 60%, #408e053c);
    transition: bottom 0.3s ease;
    padding-top: 6vw;
    font-weight: 700;

}

.featurecards:hover .featuretitle {
    bottom: 0;
    cursor: pointer;
}


.testomonialsbg {
    padding: 4vw;
    margin-top: 4vw;
    background-color: #101811;
}

.testomonials {
    text-align: center;
}

.testomonials h5 {
    text-decoration: underline;
    color: #3AC218;
    font-size: 1.9vw;
    font-family: Poppins;
    font-weight: 500;

}

.testomonials h3 {
    margin-top: 2vw;
    color: #ffffff;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 0.2vw;
    font-family: Poppins;
}


.testomonialcard {
    background-color: rgba(128, 128, 128, 0.484) !important;
    border-radius: 1vw;
    padding: 0.2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.testomonialcardimg img {
    border-radius: 1.6vw !important;
    height: 5vw;
}

.testomonialcardname h5 {
    font-size: 1.8vw;
    margin-top: 2vw;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    margin-top: 1vw;
    font-family: poppins;
}

.testomonialcardpostion h6 {
    font-size: 1.8vw;
    font-weight: 400;
    color: #3AC218;
    font-family: poppins;
}

.testomonialcardquote p {
    font-size: 2.1vw;
    color: #ffffff;
    text-decoration: none;
    margin-top: 1vw;
    font-style: italic;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;

}


@media (max-width: 600px) {
    .wrapperhome {
        position: relative;
        width: 100vw;
        /* Set width to viewport width */
        height: calc(100vw - 56vw);
        /* Set height to viewport height minus 60px */
    }

    .homebg {
        background-size: contain;
        /* Example adjustment */
        background-position: top;
        /* Example adjustment */
    }

    .homebgtext h1 {
        font-size: 6vw;
    }

    .homebgtext p {
        margin-top: 1vw;
        font-size: 3vw;
        font-weight: 400;
        line-height: 3.6vw;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        padding-left: 15vw;
        padding-right: 15vw;
        text-shadow: 2px 2px 8px #000000;
    }

    .introductionbg {
        padding: 6vw;
    }

    .introductionLeft img {
        width: 90vw;
        object-fit: contain;
    }

    .introductionRight {
        padding-top: 4vw;
    }

    .introductionRight h5 {
        color: #418E05;
        font-size: 6vw;
        font-weight: 600;

    }

    .introductionRight h3 {
        color: #000000;
        font-size: 6vw;
        font-weight: 600;
        margin-top: 4vw;
    }

    .introductionRight p {
        color: #000000;
        font-size: 3.2vw;
        font-weight: 400;
        padding-right: 2vw;
        text-align: left;
        margin-top: 3vw;
    }

    .featurebg {
        padding: 6vw;
    }

    .feature {
        text-align: left;
    }

    .feature h5 {
        color: #418E05;
        font-size: 6vw;
        font-weight: 600;
        text-align: left;
    }

    .feature h3 {
        color: #000000;
        font-size: 6vw;
        font-weight: 600;
        margin-top: 3vw;
        padding-left: 0vw;
        padding-right: 0vw;
        letter-spacing: 0vw;
        text-align: left;
    }

    .feature p {
        color: #000000;
        font-size: 3.2vw;
        font-weight: 400;
        padding-left: 0vw;
        padding-right: 2vw;
        text-align: left;
        margin-top: 3vw;
        letter-spacing: 0vw;
    }

    .featurelistmain {
        padding-left: 0vw;
        padding-top: 2vw;
    }

    .greenDot {
        padding: 0.06vw 1.7vw;
        background-color: #3AC218;
        border-radius: 50%;
        margin-right: 1vw;
        font-size: 3vw;
    }

    .featurelist {
        color: #000000;
        font-size: 3.2vw;
        font-weight: 400;
        text-align: left;
        margin-top: 2vw;
        font-family: Poppins;
        margin-bottom: 1vw;

    }

    .featurecontainer {
        padding: 5vw;
    }

    .featurewidth {
        padding-left: 9vw !important;
        padding-Right: 9vw !important;
    }

    .featurecards {
        border-radius: 6vw !important;
        background: linear-gradient(to bottom, #418E05, #FFFFFF, #418E05);
        height: auto !important;
        overflow: hidden !important;
        /* Hides overflow */
        position: relative;
        /* Add relative positioning */
        margin-bottom: 6vw;
    }

    .featurebody {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featurebody img {
        padding-top: 3vw;
        height: 55vh;
    }

    .featuretitle {
        position: absolute;
        bottom: -45vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 5vw;
        left: 0;
        /* Adjust this value to position the title properly */
        width: 100%;
        text-align: center;
        background: linear-gradient(to top, #418E05 60%, #408e053c);
        transition: bottom 0.3s ease;
        padding-top: 12vw;
        padding-bottom: 10vw;
    }

    .featurecards:hover .featuretitle {
        bottom: 0;
        cursor: pointer;
    }

    .testomonialsbg {
        padding: 6vw;
        padding-top: 15vw;
        margin-top: 0vw;
    }

    .testomonials {
        text-align: left;
    }

    .testomonials h5 {
        text-decoration: underline;
        color: #3AC218;
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
    }

    .testomonials h3 {
        margin-top: 3vw;
        color: #ffffff;
        font-size: 4.7vw;
        line-height: 6vw;
        font-weight: 600;
        letter-spacing: 0.3vw;
    }

    .testomonialcard {
        background-color: rgba(128, 128, 128, 0.484) !important;
        border-radius: 3vw;
        padding: 12px;
        padding-top: 20px;
        margin-top: 23px;
        text-align: center;
    }

    .testomonialcardimg img {
        border-radius: 1.6vw !important;
        height: 15vw;
    }

    .testomonialcardname h5 {
        font-size: 4vw;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
        margin-top: 4vw;
    }

    .testomonialcardpostion h6 {
        font-size: 4vw;
        font-weight: 400;
        color: #3AC218;
    }

    .testomonialcardquote p {
        font-size: 4vw;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        margin-top: 15px;
        font-style: italic;
        padding-left: 10px;
        padding-right: 15px;
    }

}