.footerbg {
    background-color: #000000;
    padding: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.footerLeft img {
    width: 13vw;
}

.footerRight {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: #ffffff;
    font-weight: 400;
}

.footmore {
    width: 12vw !important;
    margin-left: -2vw !important;
}

.footmore1 {
    width: 12vw !important;
    margin-left: 0.41vw !important;
}

.foothov :hover {
    color: #418E05;
    transition: all 0.3s ease-in-out !important;
}

.greeni {
    color: #418E05;
    font-weight: 500;

}

.footerRight a {
    text-decoration: none;
    color: #ffffff;
}


@media (max-width: 600px) {
    .footerbg {
        background-color: #000000;
        padding: 6vw;
        padding-top: 12vw;
        padding-bottom: 6vw;
    }

    .footerLeft img {
        width: 35vw;
        margin-bottom: 6vw;
    }

    .footerRight {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 4vw;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 6vw;
        padding-left: 5vw !important;
    }

    .greeni {
        color: #418E05;
        font-weight: 700;
        font-size: 6vw;
        padding-left: 3vw !important;
    }

    .footmore {
        width: 50vw !important;
        margin-left: 0vw !important;
    }

    .footmore1 {
        width: 50vw !important;
        margin-left: 0vw !important;
    }
}