.TeamExcutive {
    padding: 2vw !important;
    padding-top: 5vw !important;
}

.teamcards {
    border: none !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2vw !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.teamcards:hover {
    transform: scale(1.04);

}

.TeamExcutiveLeft {
    padding-right: 3vw !important;
    padding-left: 3vw !important;
}

.teamcardbody img {
    width: 18vw !important;
}

.teamcardtitle {
    color: #418E05 !important;
    margin-top: 1vw !important;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 500;
    text-align: left;

}

.teamcardtext {
    color: #000000;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 500;
    text-align: left;

}

.teamcards a {
    position: absolute;
}

.teamcards .fa-linkedin {
    font-size: 1.8vw;
    color: #418E05;
    top: -3.3vw;
    left: 16.1vw;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.teamcards .fa-linkedin:hover {

    color: #295d02;
}

.TeamExcutiveRight {
    position: relative;
    padding-left: 3vw !important;
}

.TeamExcutiveRight h5 {
    color: #418E05;
    font-size: 2vw;
    font-weight: 600;
    font-family: Poppins;
    text-align: left;

}

.TeamExcutiveRight h3 {
    color: #000000;
    font-size: 4vw;
    padding-right: 1vw;
    font-family: Poppins;
    font-weight: 600;
    text-align: left;

}

.TeamExcutiveRight p {
    color: #000000;
    font-size: 1.2vw;
    padding-right: 0vw;
    font-family: Poppins;
    font-weight: 300;
    text-align: left;

}

.TeamExcutiveRight button {
    background-color: #418E05;
    border: none;
    border-radius: 1.8vw;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
    margin: 1vw 0vw;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 700;

}

.TeamExcutiveRight button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #1a3903;
}

.TeamExcutiveRight i {
    margin-left: 2vw;
    background-color: #418E05;
    border: none;
    border-radius: 1.8vw;
    color: white;
    padding: 1vw;
    font-size: 1.2vw;
    transition-duration: 0.4s;
    cursor: pointer;
}

.TeamExcutiveRight i:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #1a3903;
}

/* @media (max-width: 1990px) {
    .teamcards .fa-linkedin {
        font-size: 1.8vw;
        color: #418E05;
        top: -3.3vw;
        left: 16.1vw;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
} */

@media (max-width: 1024px) {
    .teamcards .fa-linkedin {
        font-size: 1.8vw;
        color: #418E05;
        top: -4.3vw;
        left: 16.1vw;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 600px) {
    .TeamExcutive {
        padding: 8vw !important;
        padding-top: 8vw !important;
    }

    .teamcards {
        border: none !important;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw !important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        height: auto;
        width: auto;
    }

    .teamcards:hover {
        transform: scale(1.04);

    }

    .TeamExcutiveLeft {
        padding-right: 10vw !important;
        padding-left: 10vw !important;
    }

    .teamcardbody img {
        width: 100%;
        height: 100%;
    }

    .teamcardtitle {
        color: #000000 !important;
        margin-top: 3vw !important;
        font-size: 4vw;
    }

    .teamcardtext {
        color: #418E05;
        font-size: 3vw;
        font-weight: 600;
    }

    .teamcards .fa-linkedin {
        font-size: 5vw;
        color: #418E05;
        top: -11vw;
        left: 52vw;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .TeamExcutiveRight {
        position: relative;
        margin-top: 14vw !important;
        padding-left: 10px !important;
    }

    .TeamExcutiveRight h5 {
        color: #418E05;
        font-size: 6vw;
        font-weight: 600;
    }

    .TeamExcutiveRight h3 {
        color: #000000;
        font-size: 6vw;
        font-weight: 500;
        padding-right: 2vw;
    }

    .TeamExcutiveRight p {
        color: #000000;
        font-size: 3vw;
        font-weight: 400;
        padding-right: 0vw;
        text-align: left;
    }

    .TeamExcutiveRight button {
        background-color: #418E05;
        border: none;
        border-radius: 4vw;
        color: white;
        padding: 2.6vw 4vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3vw;
        margin: 1vw 0vw;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .TeamExcutiveRight button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #1a3903;
    }

    .TeamExcutiveRight i {
        margin-left: 5vw;
        background-color: #418E05;
        border: none;
        border-radius: 5vw;
        color: white;
        padding: 3.2vw;
        font-size: 4vw;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .TeamExcutiveRight i:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #1a3903;
    }

    .linkedin-icon {
        margin-left: 28.5vw;
    }

    .linkedin-icon i {
        font-size: 4vw;
        color: #418E05;
        transition: all 0.3s ease-in-out;
    }
}