.wrapperteam {
    position: relative;
    width: 100vw;
    /* Set width to viewport width */
    height: calc(33vw - 0.8vw);
    /* Set height to viewport height minus 60px */
}

.teambg {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/teambgimage.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}



.teamsbg {
    padding: 4vw;
    background-color: #F9F9F9;
}

.teamsbg h3 {
    color: #000000;
    font-family: Poppins;
    font-size: 3vw;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;

}

.teamcardsstart {
    padding: 3vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.teamcards1 {
    border: none !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2vw !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.teamcards1:hover {
    transform: scale(1.04);

}

.TeamExcutiveLeft {
    padding-right: 3vw !important;
    padding-left: 3vw !important;
}

.teamcardbody img {
    width: 100%;
    height: 100%;
}

.teamcardtitle {
    color: #418E05 !important;
    margin-top: 1vw !important;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 500;
    text-align: left;

}

.teamcardtext {
    color: #000000;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 500;
    text-align: left;

}

.teamcards1 a {
    position: absolute;
}

.teamcards1 .fa-linkedin {
    font-size: 1.8vw;
    color: #418E05;
    top: -3.3vw;
    left: 17vw;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.teamcards1 .fa-linkedin:hover {

    color: #295d02;
}

@media (max-width: 1024px) {
    .teamcards1 .fa-linkedin {
        font-size: 1.8vw;
        color: #418E05;
        top: -4.3vw;
        left: 16.1vw;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
}


@media (max-width: 600px) {
    .wrapperteam {
        position: relative;
        width: 100vw;
        /* Set width to viewport width */
        height: calc(100vw - 58vw);
        /* Set height to viewport height minus 60px */
    }

    .teambg {
        background-size: contain;
        /* Example adjustment */
        background-position: top;
        /* Example adjustment */
    }

    .teamsbg {
        padding: 30px;
        background-color: #F9F9F9;
    }

    .teamsbg h3 {
        color: #000000;
        font-size: 7vw;
        font-weight: 600;
        text-align: center;
    }

    .teamcardsstart {
        padding: 30px;
    }

    .TeamExcutive {
        padding: 8vw !important;
        padding-top: 8vw !important;
    }

    .teamcards1 {
        border: none !important;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw !important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        height: auto;
        width: auto;
    }

    .teamcards1:hover {
        transform: scale(1.04);

    }

    .TeamExcutiveLeft {
        padding-right: 10vw !important;
        padding-left: 10vw !important;
    }

    .teamcardbody img {
        width: 100%;
        height: 100%;
    }

    .teamcardtitle {
        color: #000000 !important;
        margin-top: 3vw !important;
        font-size: 4vw;
    }

    .teamcardtext {
        color: #418E05;
        font-size: 3vw;
        font-weight: 600;
    }

    .teamcards1 .fa-linkedin {
        font-size: 5vw;
        color: #418E05;
        top: -11vw;
        left: 52vw;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

}